<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Stylish Site</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../dist/css/style.css">
</head>
<body>
<div class="l-wrap">
  <header class="header">
    <div class="header__bg">
      <div class="header__cat">
        <div class="header__logo">
          <a href="/">Vintage NinjaCode</a>
        </div>
        <input type="checkbox" id="hamburger">
        <label for="hamburger">
          <span class="hamburger__icon">
            <i></i>
            <i></i>
            <i></i>
          </span>
        </label>
        <nav class="header__navi">
          <div class="header__navi__wrap">
            <ul class="header__navi__list">
              <li class="header__navi__item">
                <a href="#concept"><span>Concept</span></a>
              </li>
              <li class="header__navi__item">
                <a href="#application"><span>Application</span></a>
              </li>
              <li class="header__navi__item">
                <a href="#gallery"><span>Gallery</span></a>
              </li>
              <li class="header__navi__item">
                <a href="#card"><span>Card</span></a>
              </li>
              <li class="header__navi__item">
                <a href="#contact"><span>Contact</span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
