.mainKv {
  position: relative;
  background-image: url("#{$bgPath}kv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  min-height: 660px;

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: fantasy;
    font-size: 3rem;
    font-weight: bold;
    color: $colorWhite;
    text-shadow: 10px 10px 5px $colorBlack;
  }
}

.concept {
  &__cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__img {
    width: calc(50% - 40px);

    > img {
      width: 100%;
    }
  }

  &__text {
    width: calc(50% - 40px);
    height: 630px;
    overflow-y: auto;
  }

  &__sentence p {
    margin-bottom: 16px;
  }
}

.mainContent {
  &__subTitle {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 24px;

    &::before,
    &::after {
      display: inline-block;
      content: "";
      vertical-align: 5px;
      width: 32px;
      height: 2px;
      background-color: $colorBlack;
    }

    &::before {
      margin-right: 8px;
    }

    &::after {
      margin-left: 8px;
    }
  }
}

.application.mainContent__cat {
  margin-bottom: 240px;
}

.application {
  &__cat {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  &__img {
    width: 60%;

    &__bg {
      background-image: url("#{$bgPath}main_02.jpg");
      width: 100%;
      height: 580px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      overflow-x: hidden;
      position: relative;
      display: inline-block;
    }
  }

  &__area {
    width: 40%;

    &__inner {
      padding-left: 60px;
      position: relative;

      &::before {
        width: calc(100% + 200px);
        content: "";
        position: absolute;
        background: $colorBackground;
        height: calc(100% + 200px);
        right: 0;
        bottom: -100px;
        z-index: -1;
      }
    }

    .mainContent__subTitle {
      text-align: left;
    }
  }

  &__sentence p {
    line-height: 2;

    &::first-letter {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

.gallery {
  &__cat {
    background-image: url("#{$bgPath}main_03.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
  }

  &__mask {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
  }

  &__container {
    padding: 70px 0;
    margin: auto;
    width: 70%;
  }

  &__sentence {
    line-height: 2;
    font-weight: bold;
    word-break: break-all;
  }
}

.card .mainContent__inner {
  max-width: 1280px;
  padding: 0;
}

.contact .mainContent__inner {
  padding: 0;
}

.card {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__list {
    width: calc((100% / 3) - 16px);
    padding-right: 16px;
    margin-bottom: 60px;

    &:nth-child(3n){
      padding-right: 0;
    }

    &:nth-child(n+4){
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 1.1rem;
    margin-bottom: 16px;
  }

  &__img {
    margin-bottom: 16px;
    border: 2px solid;

    > img {
      padding: 4px;
      width: 100%;
      height: 600px;
      display: block;
      object-fit: cover;
    }
  }
}